<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<title>Cadastro de Usuário</title>
		
		<!-- bootstrap - link cdn -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	
		<!-- estilo -->
		<link href="css/style.css" rel="stylesheet">
	</head>

	<body>

		<div class="container">
            <div class="row vertical-offset-80">
                <div class="col-md-4 col-md-offset-4">
                    <div class="panel panel-default">
                    	<div class="panel-heading">                                
                            <div class="row-fluid user-row">
                                <img src="images/lemon-cadastro.png" class="img-responsive" alt="Monitoramento de Plantas"/>
                            </div>
                        </div>
                        <div class="panel-body">
                            <form accept-charset="UTF-8" role="form" class="form-signin" action="/cadastrar" method="post" >
                                <fieldset>
                                    <label class="panel-login">
                                        <div class="login_result"></div>
                                    </label>
                                    <label>
                                        <span><h2>Cadastro de Usuário</h2></span>
                                        <span><h5>Insira algumas informações abaixo (é rapidinho xD):</h5></span>
                                    </label>
                                    <br>
                                    <label>Nome de usuário (máx.: 10 caracteres):</label>
                                    <input class="form-control" placeholder="Ex: meunome" id="usuario" name="usuario" type="text">
                                    <br>
                                    <label>Senha de acesso (máx.: 4 caracteres):</label>
                                    <input class="form-control" placeholder="Ex: 1234" id="senha" name="senha" type="password">
                                    <br>
                                    <label>Nome/espécie da planta (máx.: 15 caracteres):</label>
                                    <input class="form-control" placeholder="Ex: minhaplanta" id="planta" name="planta" type="text">
                                    <br></br>
                                    <input class="btn btn-lg btn-success btn-block" type="submit" id="cadastrar" value="Cadastrar »">
                                </fieldset>
                            </form>
                            <br>
                        </div>
                    </div>

                    <div>
                            
                            <% if(validacao.length > 0) { %>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="alert alert-danger">
                                            <strong>Atenção!</strong>
                                            <ul>
                                                <% for(var i = 0; i < validacao.length; i++) { %>
                                                <li><%=validacao[i].msg %></li>
                                                <% } %>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            <% } %>

                    </div>

                </div>
            </div>
        </div>
		
	</body>
</html>