<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<title>Monitoramento de Plantas</title>
		
		<!-- JQUERY -->
		<script src="js/jquery-2.2.1.js"></script>
		
		<!-- bootstrap - link cdn -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	
		<!-- estilo -->
		<link href="css/style.css" rel="stylesheet">
		
		<script type="text/javascript">
		
			$(document).ready(function(){
				$("#exibe_relatorio").click(function(){
					$("#relatorio").show();
					$("#sensores").hide();
					ocultaNavbar();
				});
				
				$("#exibe_sensores").click(function(){
					$("#sensores").show();
					$("#relatorio").hide();
					ocultaNavbar();
				});
			});
			
			function ocultaNavbar(){
				$("#btn_navbar_toggle").attr("class","navbar-toggle collapsed");
				$("#navbar-collapse-1").attr("class","navbar-collapse collapse");
				$("#btn_navbar_toggle").attr("aria-expanded","false");
				$("#navbar-collapse-1").attr("aria-expanded","false");
			}
		</script>
	</head>

	<body>
	
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1" id="btn_navbar_toggle">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Monitoramento de Plantas</a>
				</div>
				
				
				<div class="collapse navbar-collapse" id="navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li>
							<a href="#" id="exibe_relatorio">Relatório</a>
						</li>
						<li>
							<a href="#" id="exibe_sensores">Sensores</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		
		<!--Lista de sensores dividos em blocos/painéis-->
		<div class="container">
			
			<div class="row relatorio" id="relatorio">

				<div class="col-md-3">
					<div id="luminosidade"></div>
				</div>

				<div class="col-md-3" >
					<div id="temperatura"></div>	
				</div>

				<div class="col-md-3">
						<div id="umidade_ar"></div>
					</div>
	
					<div class="col-md-3">
						<div id="umidade_solo"></div>
					</div>

			</div>
			
        </div>
		
		<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
			<div class="container">
				<div class="panel-body campo-medida">
					
						<div class="col-md-12">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Medida" id="medida">
								<input type="hidden" value="<%=dadosSensor.nomeSensor%>" id="nomeSensor">
								<input type="hidden" value="0" id="sensor_atualizado_nos_clientes">
								<span class="input-group-btn">
									<button class="btn btn-default" type="button" id="enviar_medida">></button>
								</span>
							</div>
						</div>
					
				</div>
			</div>
		</nav>		
		
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		
		<script src="/socket.io/socket.io.js"></script> <!--tudo que é necessário para que do lado cliente seja possível emitir e escutar mensagens e enviar eventos para o servidor também-->
		<script>
			var socket = io('http://xxx.xxx.xxx.xxx:3000');

			/*Aqui o cliente manda dados através do socket.emit (é isso que devemos adaptar para o nodemcu)*/

			$('#enviar_medida').click( function(){

				socket.emit(
					'msgParaServidor',
					{
						nomeSensor: $('#nomeSensor').val(), 
						medida: $('#medida').val(),
						sensor_atualizado_nos_clientes: $('#sensor_atualizado_nos_clientes').val()
					}
				);

				$('#medida').val('')
				$('#sensor_atualizado_nos_clientes').val(1);

			});

			socket.on('msgParaCliente', function(dadosSensor){
				var htmlLuminosidade = '';
				var htmlTemperatura = '';
				var htmlUmidadeAr = '';
				var htmlUmidadeSolo = '';

				htmlLuminosidade += '<div class="display-sensor">';
						htmlLuminosidade += '<h4>' + dadosSensor.nomeSensor + '</h4>';
						htmlLuminosidade += '<p>' + dadosSensor.medida + '</p>';
				htmlLuminosidade += '</div>';

				htmlTemperatura += '<div class="display-sensor">';
						htmlTemperatura += '<h4>' + 'Temperatura' + '</h4>';
						htmlTemperatura += '<p>' + '30°C' + '</p>';
				htmlTemperatura += '</div>';

				htmlUmidadeAr += '<div class="display-sensor">';
						htmlUmidadeAr += '<h4>' + 'Umidade do Ar' + '</h4>';
						htmlUmidadeAr += '<p>' + '65%' + '</p>';
				htmlUmidadeAr += '</div>';

				htmlUmidadeSolo += '<div class="display-sensor">';
						htmlUmidadeSolo += '<h4>' + 'Umidade do Solo' + '</h4>';
						htmlUmidadeSolo += '<p>' + '23%' + '</p>';
				htmlUmidadeSolo += '</div>';

				$('#luminosidade').append(htmlLuminosidade);
				$('#temperatura').append(htmlTemperatura);
				$('#umidade_ar').append(htmlUmidadeAr);
				$('#umidade_solo').append(htmlUmidadeSolo);

				window.scrollTo(0, document.body.scrollHeight);
	
			});

			socket.on('msgParaCliente', function(dadosSensor){
				var html = '';

				html += '<span class="sensor">';
					html += dadosSensor.nomeSensor;
				html += '</span>';

				$('#componentes').append(html);
	
			});
		</script> <!--tentativa de conexão pelo lado do client -->

	</body>
</html>