<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<title>Monitoramento de Plantas</title>
		
		<!-- JQUERY -->
		<script src="js/jquery-2.2.1.js"></script>
		
		<!-- bootstrap - link cdn -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	
		<!-- estilo -->
		<link href="css/style.css" rel="stylesheet">
		
		<script type="text/javascript">
		
			$(document).ready(function(){

				$("#exibe_relatorio").click(function(){
					$("#relatorio").show();
					$("#dispositivos").hide();
					ocultaNavbar();
				});
				
				$("#exibe_dispositivos").click(function(){
					$("#dispositivos").show();
					$("#relatorio").hide();
					ocultaNavbar();
				});
			});
			
			function ocultaNavbar(){
				$("#btn_navbar_toggle").attr("class","navbar-toggle collapsed");
				$("#navbar-collapse-1").attr("class","navbar-collapse collapse");
				$("#btn_navbar_toggle").attr("aria-expanded","false");
				$("#navbar-collapse-1").attr("aria-expanded","false");
			}
		</script>
	</head>

	<body>
	
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1" id="btn_navbar_toggle">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Monitoramento de Plantas</a>
				</div>
				
				
				<div class="collapse navbar-collapse" id="navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li>
							<a href="#" id="exibe_relatorio">Relatório</a>
						</li>
						<li>
							<a href="#" id="exibe_dispositivos">Dispositivos</a>
						</li>
						<li>
							<span>Olá, <%=nomeUsuario%>!</span>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		
		<!--Lista de sensores dividos em blocos/painéis-->
		<div class="container">
			
			<div class="row relatorio" id="relatorio">

			</div>

			<div class="row relatorio" id="dispositivos">

				<div class="col-md-3">
					<div id="dispositivo"><%=nomeDispositivo%></div>
				</div>

			</div>
			
        </div>
		
		<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
			<div class="container">
				<div class="panel-body">
						<div class="col-md-12">
							
							<button id="enviar_status_planta">Atualizar</button>

						</div>
				</div>
			</div>
		</nav>		
		
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		
		<script src="/socket.io/socket.io.js"></script> <!--tudo que é necessário para que do lado cliente seja possível emitir e escutar mensagens e enviar eventos para o servidor também-->
		<script>
			var socket = io('http://192.168.0.103:3000');

			/*Aqui o cliente manda dados através do socket.emit (é isso que devemos adaptar para o nodemcu)*/

			$('#enviar_status_planta').click( function(){

				var statusPlanta = Math.floor(Math.random() * 101);
				statusPlanta = statusPlanta.toString();

				socket.emit(
					'msgParaServidor',
					{
						nomeUsuario : '<%=nomeUsuario%>',
						nomeDispositivo: '<%=nomeDispositivo%>', 
						statusPlanta: statusPlanta,
					}
				);

				$.ajax({
					url: '/relatorio',
					method: "get",
					success: function(data) {
						
						$('#relatorio').html(data);
					},
					error: function(err) {
						alert('ERRO');
					}
				});

			});
			

		</script> <!--tentativa de conexão pelo lado do client -->

	</body>
</html>