    <div class="col-md-3">
		<div id="luminosidade">
            <div class="display-sensor">
                <h3>Luminosidade</h3>
                <h3><%=dadosSensores.luminosidadeLida%></h3>
            </div>
        </div>
	</div>

    <div class="col-md-3">
		<div id="temperatura">
            <div class="display-sensor">
                <h3>Temperatura</h3>
                <h3><%=dadosSensores.temperaturaLida%></h3>
            </div>
        </div>
	</div>

    <div class="col-md-3">
		<div id="umidade_ar">
            <div class="display-sensor">
                <h3>Umidade do Ar</h3>
                <h3><%=dadosSensores.umidadeDoArLida%></h3>
            </div>
        </div>
	</div>

    <div class="col-md-3">
		<div id="umidade_solo">
            <div class="display-sensor">
                <h3>Umidade do Solo</h3>
                <h3><%=dadosSensores.umidadeDoSoloLida%></h3>
            </div>
        </div>
	</div>
    
    <!--window.scrollTo(0, document.body.scrollHeight);-->
